/* --color-bg: #0A0826;
--color-bg-variant: #1F2937;
--color-primary: #176F6B;
--color-primary-variant: rgba(77, 181, 255, 0.4);
--color-white: #fff;
--color-light: rgba(255, 255, 255, 0.6);
--transition: all 400ms ease; */